{# Leaflet extension twigclass.

    @author Johan 'Kaninjegarn' Engdahl  johan.engdahl@intendit.se>

{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  ('form-control ' ~ field.class)|trim,
    info:   field.info|default('info.leaflet')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes_fieldset = {
    'data-pin-icon': asset('img/pin_red.png', 'bolt')
} %}

{% set leaflet = context.content.get(contentkey) %}

{# Dont change these names, they are used for storage. #}
{% set storage_name = {
    address:    'address',
    latitude:   'latitude',
    longitude:  'longitude',
    formatted:  'formatted_address',
    zoom:       'zoom',
} %}

{% set attributes = {
    address: {
        class:       'form-control address',
        name:        name ~ '[' ~ storage_name.address ~ ']',
        placeholder: __('field.leaflet.placeholder.address') ~ ' …',
        type:        'text',
        id:          'addr',
    },

    latitude: {
        class:       'form-control latitude',
        name:        name ~ '[' ~ storage_name.latitude ~ ']',
        step:        'any',
        type:        'number',
        readonly:    true,
    },

    longitude: {
        class:       'form-control longitude',
        name:        name ~ '[' ~ storage_name.longitude ~ ']',
        step:        'any',
        type:        'number',
        readonly:    true,
    },

    formatted: {
        class:      'form-control matched',
        name:        name ~ '[' ~ storage_name.formatted ~ ']',
        type:        'text',
        id:          'results',
    },

    snap: {
        checked:     true,
        class:       'snap',
        type:        'checkbox',
    },
    zoom: {
        class:        'form-control zoom',
        name:          name ~ '[' ~ storage_name.zoom ~ ']',
        type:         'number',
    }
} %}

{#=== FIELDSET =======================================================================================================#}


{% set fieldset_conf = {
    latitude: leaflet.latitude|default(52.08184),
    longitude: leaflet.longitude|default(4.292368),
}%}

{% block fieldset_controls %}
    <label>{{labelkey}}</label>
    <div class="col-xs-12 leaflet-main">
        <div class="row">
            <div class="col-sm-6 addressContainer">
                <div class="form-group">
                    <div class="col-sm-12 addressInput">
                        <label><strong>Address</strong></label>
                        <input{{ hattr(attributes.address) }} value="{{ leaflet.address|default('') }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 latInput">
                        <label><strong>Latitude</strong></label>
                        <input{{ hattr(attributes.latitude) }} value="{{ leaflet.latitude|default('52.08184') }}">
                    </div>
                    <div class="col-xs-4 lonInput">
                        <label><strong>Longitude</strong></label>
                        <input {{ hattr(attributes.longitude) }} value="{{ leaflet.longitude|default('4.292368') }}">
                    </div>
                    <div class="col-xs-3 zoomInput">
                        <label><strong>Zoom</strong></label>
                        <select{{ hattr(attributes.zoom) }} value="{{ leaflet.zoom|default('') }}">
                            {% for i in 1..20 %}
                                <option>{{i}}</option>
                            {% endfor %}                                                    
                        </select>
                    </div>
                </div>
                <div class="mapSearchButtonOutput">
                    <button type="button" class="btn-primary btn mapSearchButton" onclick="addr_search(event);">Sök</button>
                </div>
                <div id="results" class="results">
                </div>
            </div>
            <div class="col-sm-4 map-target">
                <div class="mapframe">
                    <button type="button" class="btn btn-sm btn-default expand"><i class="fa fa-expand"></i></button>
                    <button type="button" class="btn btn-sm btn-default compress"><i class="fa fa-compress "></i></button>
                    <label class="header">{{ __('field.leaflet.label.marker-placement') }}</label>
                        <div class="mapholder"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
                        <label class="snapbox"><input{{ hattr(attributes.snap) }}>{{ __('field.leaflet.label.snap') }}</label>
                </div>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}