{# Leaflet extension twigclass.

    @author Johan 'Kaninjegarn' Engdahl  johan.engdahl@intendit.se>

{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  ('form-control ' ~ field.class)|trim,
    info:   field.info|default('info.leaflet')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes_fieldset = {
    'data-pin-icon': asset('img/pin_red.png', 'bolt')
} %}

{% set leaflet = context.content.get(contentkey) %}

{# Ändra inte namnen för att dessa används för att spara datan i databasen. #}
{% set storage_name = {
    address:    'address',
    latitude:   'latitude',
    longitude:  'longitude',
    formatted:  'formatted_address',
    zoom:        'zoom',
} %}

{% set attributes = {
    address: {
        class:       'form-control address',
        name:        name ~ '[' ~ storage_name.address ~ ']',
        placeholder: __('field.leaflet.placeholder.address') ~ ' …',
        type:        'text',
        id:          'addr',
    },

    latitude: {
        class:       'form-control latitude',
        name:        name ~ '[' ~ storage_name.latitude ~ ']',
        step:        'any',
        type:        'number',
        id:          'lat',
        readonly:    true,
    },

    longitude: {
        class:       'form-control longitude',
        name:        name ~ '[' ~ storage_name.longitude ~ ']',
        step:        'any',
        type:        'number',
        id:          'lon',
        readonly:    true,
    },

    formatted: {
        class:      'form-control matched',
        name:        name ~ '[' ~ storage_name.formatted ~ ']',
        type:        'text',
        id:          'results',
    },

    snap: {
        checked:     true,
        class:       'snap',
        type:        'checkbox',
    },
    zoom: {
        class:        'form-control zoom',
        name:          name ~ '[' ~ storage_name.zoom ~ ']',
        type:         'number',
        id:           'zoomlvl',
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% set fieldset_conf = {
    latitude: leaflet.latitude|default(52.08184),
    longitude: leaflet.longitude|default(4.292368),
}%}

{% block fieldset_type 'leaflet' %}
{% block fieldset_widget 'fieldleaflet' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    {# skapar divar som följer sidans layout. samt labelfält för lat/long/adress etc #}
    <div class="col-xs-12">
        <div class="row">
        
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-12">
                        {# Inputfältet för adress. #}
                        <label><strong>Address</strong></label>
                        <input{{ hattr(attributes.address) }} value="{{ leaflet.address|default('') }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        {# ett fält som genererar latitud från adressen du uppgav ovan. #}
                        <label><strong>Latitude</strong></label>
                        <input{{ hattr(attributes.latitude) }} value="{{ leaflet.latitude|default('52.08184') }}">
                    </div>
                    <div class="col-xs-4">
                        {# ett fält som genererar latitud från adressen du uppgav ovan. #}
                        <label><strong>Longitude</strong></label>
                        <input {{ hattr(attributes.longitude) }} value="{{ leaflet.longitude|default('4.292368') }}">
                    </div>
                    <div class="col-xs-3">
                        <label><strong>Zoom</strong></label>
                        <select{{ hattr(attributes.zoom) }} value="{{ leaflet.zoom|default('') }}">
                            {% for i in 1..20 %}
                                <option>{{i}}</option>
                            {% endfor %}                                                    
                        </select>
                    </div>
                </div>
                <div>
                    {# en knapp som fungerar som är kopplad till en sökfunktion. #}
                    <button type="button" class="btn-primary btn" onclick="addr_search();">Sök</button>
                </div>
                {# Här kommer den genererade fullständiga adressen för din adress + long/lat match.  #}
                <div id="results">
                </div>
            </div>
            {# Här skrivs kartan ut och tar dig till din angivna adress och sätter en marker på adressen. #}
            <div class="col-sm-4">
                <div class="mapframe" id="map">
                    <button type="button" class="btn btn-sm btn-default expand"><i class="fa fa-expand"></i></button>
                    <button type="button" class="btn btn-sm btn-default compress"><i class="fa fa-compress "></i></button>
                    <label class="header">{{ __('field.leaflet.label.marker-placement') }}</label>
                        <div class="mapholder"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
                        <label class="snapbox"><input{{ hattr(attributes.snap) }}>{{ __('field.leaflet.label.snap') }}</label>
                </div>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}